/venv
/final_note.txt
/src/jziumo.py
/data/comments_unlabelled
/src/youtube_video_commments_sentiment_analyzer.egg-info
/src/__pycache__
/models
/src/__pycache__
models/sentiment_for_product
models/sentiment_for_video
data/combined_nonen_removed.csv
data/comment_labeled
data/combined_origin.csv
data/combined_remove_nltk_stopwords.csv
data/combined_remove_specified_words.csv
data/combined_text_clean_stemming.csv